body{
	margin: 0px;
	padding: 0px;
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
input[type="text"], input[type="password"]{
	outline: none;
	padding: 10px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border:1px solid #eee;
	margin: 20px auto;
} 

input[type="submit"]{
	padding: 10px;
	color: #fff;
	background: #0098cb;
	width: 320px;
	margin: 20px auto;
	margin-top: 0px;
	border: 0px;
	border-radius: 3px;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: #0098eb;
}
.header{
	border-bottom: 1px solid #eee;
	padding: 10px 0px;
	width: 100%;
	text-align: center;
}
.header a{
	color: #333;
	text-decoration:none;
}
.header1 {
	border-bottom: 1px solid #eee;
	padding: 10px 0px;
	width: 100%;
	text-align:	center;
}
.header1 h1{
	color: #333;
	text-decoration: none;
}


nav.navbar{
	background: transparent;
	border-radius: none;
	margin-bottom: 0px;


}/*
.jumbotron {
   margin-top: 0px;
   margin-bottom: 0px;
   background: url("../img/3.jpg");
   max-height: 500px;
   background-size: cover;
   height: 100%;
   min-height:*/

.jumbotron {
    background: #000 url("../img/3.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; 
    padding: 0px;
}
.jumbotron h1{
	font-weight: 800;
}
.navbar-toggle .icon-bar{
	background: #000;
}
section.section1{
	padding: 50px 0;
	background: #f9f9f9;
}
.box{
	background: #fff;
	padding: 20px;
	height: 220px;
	border-radius: 5px;
	padding-top: 5px;
box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);

}
.box h3{
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
border-bottom: 2px solid rgba(0,0,0,0.05);
}
.box p {
	text-align: left;
}
.col-md-4{
	margin: 10px 0;
}